/build
/.gradle
/.idea
/buildSrc
local.properties
adapterviews-databinding/adapterviews-databinding.iml
adapterviews-databinding-recyclerpager/adapterviews-databinding-recyclerpager.iml
adapterviews-databinding-recyclerview/adapterviews-databinding-recyclerview.iml
adapterviews-databinding-test/adapterviews-databinding-test.iml
adapterviews-recyclerpager/adapterviews-recyclerpager.iml
common/common.iml
common-test/common-test.iml
databinding/databinding.iml
databinding-arch-viewmodel/databinding-arch-viewmodel.iml
databinding-bindingadapters/databinding-bindingadapters.iml
delegates-observable/delegates-observable.iml
delegates-observable-databinding/delegates-observable-databinding.iml
delegates-observable-rxjava/delegates-observable-rxjava.iml
delegates-weak/delegates-weak.iml
paging/paging.iml
redux/redux.iml
rxjava-test/rxjava-test.iml
rxutils/rxutils.iml
